.listing {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 20px var(--disaturatedDarkCyanOpacity);
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
  animation-name: opacity;
  animation-duration: 300ms;
  background-color: var(--lightGrayishCyanBg);
  @media (max-width: 1150px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 55px;
  }
  &_jobDetailsContainer {
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 1150px) {
      justify-content: flex-start;
    }
  }
  &_image {
    margin-right: 20px;
    @media (max-width: 1150px) {
      position: absolute;
      margin: 0;
      left: 0;
      top: -60px;
      img {
        width: 60px;
      }
    }
  }
  &_infoContainer {
    display: block;
    flex-direction: column;
    justify-content: space-between;
  }
  &_companyAndType {
    display: flex;
    @media (max-width: 1150px) {
      margin-top: 10px;
    }
  }
  &_position {
    margin: 8px 0;
    color: var(--veryDarkGrayishCyan);
    h2 {
      font-size: 1.3rem;
      font-weight: 700;
    }
    @media (max-width: 1150px) {
      margin: 12px 0;
    }
  }
  &_jobInfo {
    display: flex;
    align-items: center;
    p {
      color: rgb(194, 194, 194);
      font-weight: 600;
      text-transform: none;
    }
    .circle {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: rgb(194, 194, 194);
      margin: 0 20px;
      @media (max-width: 1150px) {
        margin: 0 7px;
      }
    }
  }
  &_companyAndType {
    display: flex;
    align-items: center;
    p {
      font-weight: 700;
      color: var(--disaturatedDarkCyan);
      margin-right: 10px;
    }
    span {
      margin-left: 10px;
      padding: 3px 10px;
      border-radius: 15px;
      font-size: 12px;
      color: white;
      text-transform: uppercase;
    }
  }
  &_languages {
    @media (max-width: 1150px) {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    span {
      padding: 5px 10px;
      margin-left: 10px;
      @media (max-width: 1150px) {
        margin: 10px 10px 0 0;
      }
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      color: var(--disaturatedDarkCyan);
      font-weight: 700;
      font-size: 15px;
      cursor: pointer;
    }
    span:hover {
      background-color: var(--disaturatedDarkCyan);
      color: rgb(240, 240, 240);
    }
  }
}
.featured {
  border-left: solid var(--disaturatedDarkCyan) 6px;
}
